.btn {
    background-color: red;
    border-radius: 10px;

    padding: 11px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: beige;
}


.btn a {
    color: beige;
}

.getbtn{
    background-color: red;
    border-radius: 10px;

    padding: 11px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: beige; 
}

.getbtn a{
    color: beige;
    text-decoration: none;
}
.formbox{
    display: flex;
align-items: center;
border-radius: 32px;
padding: 4px 9px;
text-align: center;
text-decoration: none;
/* display: inline-block; */
font-size: 12px;
/* color: beige; */
background-color: white;
}
.whatsbtn{
    background: #36bb22;
border-radius: 29px;
padding: 7px 11px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
color: beige;
pointer-events: visiblestroke;
cursor: pointer;
}

.section5subbox1 {
    background-color: #ebbe00;
    border-radius: 41px;
    padding: 15px 31px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: beige;
    margin-right: 13px;
}

.section5subbox2 {
    background: #e5dfdf;
    border-radius: 41px;
    padding: 15px 31px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: beige;
    margin-right: 13px;
}

.section5subbox1  a {
    color: black;
    text-decoration: none;
}
.section5subbox2 a{
    color: #000 !important;
    text-decoration: none;
}

.btnmore{
   
    background: yellow;
    border-radius: 4px;
    padding: 15px 31px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;

   
}

.btnmore a{
    color: #000;
    text-decoration: none;
    font-size: 16px;
}

.viewbtn{
    background-color: red;
    border-radius: 10px;
    padding: 14px 28px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
.viewbtn a{
    color: white;
    text-decoration: none;
}

.subscribebtn  .viewbtn a{
    color: white;
    text-decoration: none;
}

.subscribebtn{
    background-color: red;
    border-radius: 2px;

    padding: 15px 31px;
    text-align: center;
    
    display: inline-block;
    font-size: 15px;
   
}

.subscribebtn a{
    color: white;
    text-decoration: none;
}


