@media (max-width: 767px) {

     .navbar{
        justify-content: start;
    flex-direction: column;
    align-items: baseline;
     }

     .navbox1{
        font-size: 37px;
     }

     .hnav{
        height: 40px;
     }
     .menubelow h4{
        font-size: 49px;
     }

     p{
        font-size: 20px;
     }

     .navbox2 ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    
     }

     .navbox2 ul li{
        margin-bottom: 10px;
     }

     .navbox2 ul li a{
        font-size: 22px;

     }



     
     .vis{
       opacity: 0;
     }

     .navbox1 .menuicon{
        opacity: 1;
     }

     .newcontainer{
        display: flex;
        justify-content: center;
        flex-direction: column;
     }

     .navbox{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        transition: all 0.4s ease-out;
     }

    .section2{
        padding: 0px;
    }



    .section2 .section2box1{
        width: 50%;
text-align: center;
    }

    .secton3{
        padding-top: 50px;
        margin-bottom: 50px;
        flex-direction: column-reverse;
        /* justify-content: center; */
        align-items: center;
    }
    .product1 h3{
        padding: 0;
margin-bottom: 0;
text-align: inherit;
    }

.productbox .productboxrow {

    flex-direction: column;
    align-items: center;

}

.productboxrowitem{
    display: flex;
    width: 100%;
    margin-right: 0px;
    font-size: 16px;
}

.productboxrow .Craditem{
    display: flex;
    flex-wrap: wrap;
}
  
.Trust {
    margin-bottom: 50px;
}
.Trust h3{
    font-size: 20px;
}
.trustbox{
    width: 199vw;
}

.section4box{
    display: flex;
    flex-direction: column;
}
.section4boxtext{
    margin: 11px 0px;
}
.section5{
    width: 100%;
    margin-top: 10px;
}

.getbtn{
    width: 114px;
    margin-left: auto;
    margin-right: auto;
}

.section5boxsubhed{
    display: flex;
    flex-direction: column;
}
.section5subbox1{
    width: 172px;
    padding: 20px;
    margin: 0 20px;
    margin-bottom: 27px;
    font-weight: 700;
    color: #000 !important;
    background-color: #fbdc00;;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}
.section5subbox2 {
  
    width: 178px;
    padding: 20px 12px;
    margin: 0 20px;
    margin-bottom: 27px;
    font-weight: 700;
    color: #000 !important;
    background-color: #e5dfdf;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

.section5down{
    display: flex;
    flex-direction: column;
}

#section5downbox{
    display: flex;
    justify-content: center;
}

#section5downbox img{
    width: 589px;
    height: 320px;
    margin: 61px;
}
.section5card{
    width: 100%;
    margin-bottom: 10px;
}
.section6box{
    width: 100%;
}
.section7box{
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 20px;
}
.section7boxitem1 .btn{
    width: 100%;
}
.section8{
    width: 100%;
}
.section8boxitems{
    flex-direction: column;
    align-items: flex-start;
}
.section9boxitems{
    flex-direction: column;
align-items: center;
}
.section9boxcard{
    width: 100%;
}
.section9boxcarditem img{
    width: 100%;
}
.subscribe{
    flex-direction: column-reverse;
}
.section11{
    flex-direction: column;
    align-items: center;
}
.footer2box{
    flex-direction: column;
    align-items: center;
}
.footer2boxitem{
    margin-bottom: 20px;
}
.footer3box{
    flex-direction: column;
    align-items: center;
}
.footer3boxitem{
    flex-direction: column;
    align-items: center;
}
.headercontent{
    flex-direction: column-reverse;
    height: auto;
}
.headercontent{
    display: flex;
    flex-direction: column-reverse;
    justify-items: left;
    justify-content: space-between;
    /* margin-top: 11px; */
    z-index: 1;
    width: 100%;
    position: relative;
    /* width: 100%; */
    /* padding-top: 25px; */
    /* margin-top: -57px; */
    background: url(https://cdn.cogoport.io/cms-prod/cogo_public/vault/original/home-banner-background-1.webp);
   
    background-repeat: no-repeat;
    background-position: bottom;
   
    display: flex;
    justify-content: center;
    z-index: -12;
    align-items: center;
}
.headercontentleft{
    padding-bottom: 22px;
    flex: 1 1;
}
.headercontentright{
    width: 100%;
    display: flex;
    justify-content: center;
}
.video{
    height: 646px;
    width: 908px;
}
.section6boxitems{
    flex-flow: wrap;
}
.section6boxintem{
    width: 25%;
    text-align: center;
}

}